@charset "gb2312";
/* CSS Document */

#container{ width:991px;margin:0 auto; padding:10px 4px 0 4px; background:#fff;}

#container_8{width:961px; height:460px; padding:12px 0 0 30px;background:#fff;}









